.TextDiv {
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-shadow: inset 0px 100px 100px 0px rgba(0,0,0);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.TextDivTwo{
    display: none;
}
.TextDiv > div:nth-child(1) {
    height: 55vw;
    background: linear-gradient(90deg,#000000 10%,hsl(0deg 0% 0% / 98%) 20%,hsl(0deg 0% 0% / 91%) 25%,hsl(0deg 0% 0% / 79%) 35%,hsl(0deg 0% 0% / 58%) 40%,hsla(0,0%,9%,.53) 45%,hsl(0deg 0% 0% / 20%) 50%,hsl(0deg 0% 0% / 0%) 55%,hsla(0,0%,9%,0) 60%,hsla(0,0%,9%,0) 65%,hsla(0,0%,9%,0) 70%,hsla(0,0%,9%,0) 75%,hsla(0,0%,9%,.21) 80%,hsla(0,0%,9%,0) 85%,hsla(0,0%,9%,0) 90%,hsla(0,0%,9%,0) 95%,hsla(0,0%,9%,0));}
.TextDiv > div:nth-child(1) > div{
    display: flex;
    align-items: center;
    max-width: 50vw; 
    height: 55vw;
    margin-top: -3vw;
    padding-left: 6vw;
}
.Small_Image > img {
    width: 88%;
    height: auto;
}
.AboutBanner {
    padding-top: 1.75vw;
}
.AboutBanner > h1 {
    font-size: 3.5vw;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
    color: white;
    font-family: 'Concert One',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.AboutBanner > div {
    margin: 1vw 0;
}
.AboutBanner > div > span{
    color: white;
    font-size: 1.3vw;
    margin-right: 0.3vw;
}
.AboutBanner > div > a {
    border: 1px solid rgb(0, 0, 0);
    background-color: red;
    padding: 0.5vw 1.5vw;
    margin-left: 1vw;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.3vw;
    font-family: 'Concert One',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Paragraph > div:nth-child(1) {
    color: white;
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding-right: 4vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Paragraph > div:nth-child(2){
    margin: 1vw 0;
    color: rgb(194, 193, 193);
    font-size: 1vw;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .TextDiv{
        background-size: auto 130vw;
        background-position-x: -110vw;
        box-shadow: none;
    }
    .TextDiv > div:nth-child(1){
        display: none;
    }
    .TextDivTwo{
        display: flex;
        height: 130vw;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8071603641456583) 13%, rgba(130,0,0,0) 100%);
    }
    .TextDivTwo > div{
        height: 15vw;
        width: 60vw;
        text-align: center;
    }
    .TextDivTwo > div > img{
        width: 100%;
        height: auto;
    }
    .TextDivTwo > div:nth-child(2){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .TextDivTwo > div:nth-child(2) > a{
        color: rgba(255, 255, 255, 0.692);
        text-decoration: none;
    }
    .TextDivTwo > div:nth-child(2) > span{
        background-color: red;
        width: 1vw;
        height: 1vw;
        border-radius: 50%;
    }
}